<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <main>
      <div class="container">


        <div class="jumbotron">

            <!--BUTTON-->
            <div class="row" id="row">
                <!--Rules-->
            <div class="box">
                <div class="btn5"><button type="button"  >X </button></div>
                <div class="btn6"><button type="button"  >上一頁</button></div>
                <div class="btn7"><button type="button"  >下一頁</button></div>
            </div>
            <!--Rules-->
                <div class="btn1"><button type="button"  >Mute</button></div>
                <div class="button">
                <button type="button" id="btn2">遊戲開始 </br>Start </button>
                <button type="button" id="btn3">遊戲說明 </br>Game Rules</button>
                <button type="button" id="btn4">個人積分及排行榜 </br>Scores & Ranking</button>
            </div></div>
            <!--BUTTON-->

            

            <!--GAME-->
            <div class="game">
                
            
                <!--CLOCK & ROUND NO.-->
                <div class="countdown">
                <div class="countdown-number"></div>
                <svg>
                <circle r="69.85699" cx="81" cy="81"></circle>
                </svg>
                <div class="round-number"></div>
                </div>
                <!--CLOCK & ROUND NO.-->
            
                <!--Point BAR-->
                <div class="row2">
            
                <div class="col-xs-4" id="bar1">
                <div class="health"></div>
                <div id="lost1"></div>
                <div id="heal1"></div>
                </div>
                <!--Point BAR-->

                <!--Q&A--
                <div class="col-xs-4" id="question">
                <div class="Q"></div>
                <div class="Q"></div>
                <div class="Q"></div>
                <div class="Q"></div>
                </div>

                !--Q&A-->

                <!--Point BAR-->
                <div class="col-xs-4" id="bar2">
                <div class="health"></div>
                <div id="lost2"></div>
                <div id="heal2"></div>
                </div>
            
            
                </div>
                <!--Point BAR-->

            </div>
            <!--GAME-->
        </div>



        </div>
    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>
</body>
</html>
