<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>

        <style>

#menu{
    display: none;
}

.jumbotron{
    background-image: url("/game/gamebg.png") ;
    background-color: rgba(133, 82, 30, 1);
    background-size: contain;
    width:700px;
    height:700px;
    margin: auto;
    position:relative;

}

#game{
    height: 700px;
    display: none;
}

/*BUTTON*/


.btn1{
    float:left;
}

.button{
    margin-top: 400px;
    width:150px;
    margin-left: 190px;

}

.button button{
    margin-top: 10px;
    width:200px;
    border:3px solid rgba(103, 51, 0, 1);
    background-color: rgba(207, 169, 114, 1);
    color:rgba(103, 51, 0, 1);
    font-weight: bold;
    font-size: 20px;
}

#menubutton , #rankbutton{
    display: none;
}

/*BUTTON*/

/*RULES*/
#target{
    position: absolute;
    width:450px;
    height:auto;
    margin:auto;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}



#box{
    background-color: rgba(207, 169, 114, 1);
    width: 450px;
    height:610px;
    position: relative;
    margin-left:80px;
    border:3px solid rgba(103, 51, 0, 1);
    display:none;
}

#cls{
    top:0;
    right:0;
    position: absolute;
}

#nxt{
    position: absolute;
    bottom:0;
    right:0;
    background-image: url("/game/nxt.png") ;
    width: 113px;
    height: 57px;
    background-size: contain;
}

#pre{
    position: absolute;
    bottom:0;
    left:0;
    background-image: url("/game/pre.png") ;
    width: 113px;
    height: 57px;
    background-size: contain;
}
/*RULES*/

/*GAME*/
#row1{
    width: 700px;
    height: 200px;
    margin-left: -60px;
    padding:0;
}
/*GAME*/

/*頭像*/
#player{
    float:left;
    margin-right: 40px;
}

#pc{
    float:right;
    width:180px;
}
/*頭像*/

/*CLOCK*/
#countdown {
    
  position: relative;
  margin: auto;
  margin-top: 10px;
  padding-top: 18px;
  padding-left: 35px;
  height: 140px;
  width: 140px;
  text-align: center;
  
}

.countdown-number {
    font-size: 40px;
  color: black;
  display: inline-block;
  line-height: 125px;
}

svg {
    position: absolute;
    top:0;
    left:0;
    width: 160px;
    height: 160px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 440px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 8px;
  stroke: black;
  fill: none;
  animation: countdown 10s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 440px;
  }
}
/*CLOCK*/

/*ROUND NO.*/
.round-number{
    margin-top: 10px;
    font-size: 25px;
}
/*ROUND NO.*/

/*POINT*/

#plyptn{
    border:3px solid black;
    margin-left: -40px;
    float:left;
    width: 120px;
    height:50px;
    font-size: 30px;
    text-align: center;
}

#pcptn{
    border:3px solid black;
    float: right;
    margin-right: -40px;
    width: 120px;
    height:50px;
    font-size: 30px;
    text-align: center;
}
/*POINT*/

/*Q*/
#question{
    width:400px;
    height:350px;
    margin:0px 53px;
    padding: 0px;
}

.Q{
    border:3px solid black;
    width:400px;
    height:100px;
    background-color: rgba(207, 169, 114, 1);
}

.A button{
    border:3px solid black;
    width:400px;
    margin-top: 20px;
    height:50px;
    background-color: rgba(207, 169, 114, 1);
}
/*Q*/

/*BAR*/

#row3{
    
    margin-top: 50px;
    
}

#bar1 {
  border: 3px solid #000;
  background-color: #d66838;
  height: 300px;
  width:15px;
  float:left;
  margin-top: 50px;
}


#pchealth, #plyhealth{
    position :relative;
    background-color: #e4cf62;
    margin-left: -15px;
    width:30px;
    }

@keyframes mymove {
    0%   {height: 100%;}
    100% {height: 85%;}
}

#bar2 {
  border: 3px solid #000;
  background-color: #d66838;
  height: 300px;
  width:15px;
  float:right;
  margin-top: 50px;
}

/*BAR*/

/*ANSWER*/
.wrong{
    width:auto;
    height:50px;
    display: none;
}

.correct{
    width:auto;
    height:50px;
    display: none;
}
/*ANSWER*/

/*SCORE*/
#vs{
    margin: 0;
    display: none;
}
#vs p{
    margin: 0;
    font-size: 50px;
    padding-top: 50px;
    
}



#total, #bonus{
    display: none;
}

#plytotal, #plybonus{
    height:50px;
    width: 200px;
    float:left;
    border:3px solid black
}

#pctotal, #pcbonus{
    height:50px;
    width: 200px;
    float:right;
    border:3px solid black
}

#userscore{
    margin-left:190px;
    display: none;
}

#userpoint, #username{
    height:50px;
    width:200px;
    margin-top: 20px;
    border:3px solid black;
}
/*SCORE*/

</style>


    </header>

    <main>
      <div class="container" >


        <div class="jumbotron" id="menu">

        <!--audio-->
        <audio id="bgm" loop="loop"><source src="/game/bensound-littleidea.mp3" type="audio/mpeg"></audio>
        <audio id="bingo"><source src="/game/correct.mp3" type="audio/mpeg"></audio>
        <audio id="ding"><source src="/game/wrong.mp3" type="audio/mpeg"></audio>
        <audio id="gamestart"><source src="/game/bensound-funkyelement.mp3" type="audio/mpeg"></audio>
        <!--audio-->

            <!--BUTTON-->

                <!--main-->
                <div id="btn1"><button type="button" onclick="mute()">Mute</button></div>

                <div class="button" id="menubutton">
                    <button type="button" id="btn2" onclick="start()">遊戲開始 </br>Start </button>
                    <button type="button" id="btn3" onclick="rules()">遊戲說明 </br>Game Rules</button>
                    <button type="button" id="btn4" onclick="m2()">個人積分及排行榜 </br>Scores & Ranking</button>
                </div>

                <div class="button" id="rankbutton">    
                    <button type="button" id="btn5" onclick="score()">個人積分</br> Score</button>
                    <button type="button" id="btn6" onclick="rank()">排行榜</br> Ranking</button>
                    <button type="button" id="btn7" onclick="back()">返回</br> Back</button>
                </div>
                <!--main-->

                <!--BUTTON for RULES-->
                <div class="box" id="box">
                    <img id="target" alt="rules" align="middle"/>
                    <button type="button" id="cls" onclick="cloSe()">X </button>
                    <button type="button" id="nxt" onclick="nextPic()" ></button>
                    <button type="button" id="pre" onclick="prePic()"></button>
                    
                </div>
                <!--BUTTON for RULES-->

            <!--BUTTON-->

            

            <!--GAME-->
            <div id="game">
                
                <div id="row1">
                <!--Player-->
                <div class="col-xs-4" id="player"><img src="/game/player.png" alt="player"></div>
                <!--Player-->

                <div class="col-xs-4" id="vs"><p>VS</p></div>

                <!--CLOCK & ROUND NO.-->

                <div class="col-xs-4" id="countdown">
                    <div class="countdown-number"></div>
                    <svg>
                    <circle r="69.85699" cx="81" cy="81"></circle>
                    </svg>
                    <div class="round-number"></div>
                </div>
                <!--CLOCK & ROUND NO.-->

                <!--PC-->
                <div class="col-xs-4" id="pc"><img src="/game/pc.png" alt="pc"></div>
                <!--PC-->
                </div>

                <!--POINT-->
                <div id="row2">
                    <div class="col-xs-4" id="plyptn"></div>
                    <div class="col-xs-4" id="pcptn"></div>
                </div>
                <!--POINT-->
                
                <!--Point BAR-->
                <div id="row3">
            
                    <div class="col-xs-4" id="bar1">
                        <div id="plyhealth"></div>
                    </div>
                <!--Point BAR-->

                <!--Q&A-->
                    <div class="col-xs-4" id="question">
                        <div class="Q" ><p id="q"></p></div>
                        <div class="A" >
                            <div><button type="button" onclick="answer1()">
                                    <img src="/game/select.png" class="correct" id="correct01" alt="correct" />
                                    <img src="/game/wrong.png" class="wrong" id="wrong01" alt="wrong" />
                                    <img src="/game/select.png" class="correct" id="correct001" alt="correct" />
                                    <img src="/game/wrong.png" class="wrong" id="wrong001" alt="wrong" />
                                    <p id="ans1"></p>
                                    
                            </button></div>
                            <div><button type="button" onclick="answer2()">
                                    <img src="/game/select.png" class="correct" id="correct02" alt="correct" />
                                    <img src="/game/wrong.png" class="wrong" id="wrong02" alt="wrong" />
                                    <img src="/game/select.png" class="correct" id="correct002" alt="correct" />
                                    <img src="/game/wrong.png" class="wrong" id="wrong002" alt="wrong" />
                                    <p id="ans2"></p>
                                    
                                    
                            </button></div>
                            <div><button type="button" onclick="answer3()">
                                    <img src="/game/select.png" class="correct" id="correct03" alt="correct" />
                                    <img src="/game/wrong.png" class="wrong" id="wrong03" alt="wrong" />
                                    <img src="/game/select.png" class="correct" id="correct003" alt="correct" />
                                    <img src="/game/wrong.png" class="wrong" id="wrong003" alt="wrong" />
                                    <p id="ans3"></p>
                                    
                                    
                            </button></div>
                            <div><button type="button" onclick="answer4()">
                                    <img src="/game/select.png" class="correct" id="correct04" alt="correct" />
                                    <img src="/game/wrong.png" class="wrong" id="wrong04" alt="wrong" />
                                    <img src="/game/select.png" class="correct" id="correct004" alt="correct" />
                                    <img src="/game/wrong.png" class="wrong" id="wrong004" alt="wrong" />
                                    <p id="ans4"></p>
                                    
                            </button></div>
                        </div>
                    </div>
                <!--Q&A-->

                <!--Point BAR-->
                    <div class="col-xs-4" id="bar2">
                        <div id="pchealth"></div>
                    </div>
            
            
                </div>
                <!--Point BAR-->

                <!--GETSCORE-->

                <div id="total">
                    <div class="col-xs-4" id="plytotal"></div>
                    <div class="col-xs-4" id="pctotal"></div>
                </div>

                <div id="bonus">
                    <div class="col-xs-4" id="plybonus"></div>
                    <div class="col-xs-4" id="pcbonus"></div>
                </div>
                 <!--GETSCORE-->

                 <div id="userscore">
                    <img src="/game/player.png" alt="player">
                    <div id="username">username</div>
                    <div id="userpoint"></div>
                    <button type="button" id="btn8" onclick="self.location.href='/smallgame'">返回遊戲主頁</br> Main Menu</button>
                </div>

            </div>
            <!--GAME-->

            

            

        </div>



        </div>
    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>
</body>
</html>



