<%# 上footer %>
<div class="footer-above">
<div class="container">
<div class="row">
    <div class="footer-col col-md-4">
        <h3>常用連結</h3>
        <div class="row">
            <div class="col-xs-6">
                <ul class="footer-ul">
                    <li><a href="http://www.ncu.edu.tw/" target="_blank">中央大學首頁</a></li>
                    <li><a href="http://lms.ncu.edu.tw/" target="_blank">LMS系統</a></li>
                    <li><a href="https://portal.ncu.edu.tw/login" target="_blank">Portal入口</a></li>
                    <li><a href="https://www.facebook.com/groups/2017MeetNcu/" target="_blank">新生FB社團</a></li>
		            <%# <li><a href="https://www.facebook.com/ncustudent" target="_blank">中大學生會</a></li>%>
                </ul>
            </div>
            <div class="col-xs-6">
                <ul class="footer-ul">
                    <li><a href="http://in.ncu.edu.tw/ncu7221/OSDS/" target="_blank">宿舍服務中心</a></li>
                    <li><a href="http://service-learning.ncu.edu.tw/" target="_blank">服務學習網</a></li>
                    <li><a href="https://140.115.184.179/ncuCareYou/login.php" target="_blank">學生意見反應中心</a></li>
                    <li><a href="https://www.facebook.com/groups/802172676461763/?fref=ts" target="_blank">中央研究生family</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-col col-md-4">
        <h3>聯絡我們</h3>
        <ul class="footer-ul fa-ul">
            <li><a href="https://www.facebook.com/groups/NCUgroup/" target="_blank"><i class="fa fa-fw  fa-facebook-official btn-social "></i> NCU TALK</a></li>
            <li><a href="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ncufreshweb%40gmail.com&amp;color=%232952A3&amp;src=zh-tw.taiwan%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Asia%2FTaipei" target="_blank"><i class="fa fa-fw fa-google btn-social"></i> 行事曆</a></li>
            <li><a href="https://www.youtube.com/channel/UCmO3cFtFtdIawfBQpGR8EVA" target="_blank"><i class="fa fa-fw fa-youtube-play btn-social"></i> Youtube頻道</a></li>
        </ul>
    </div>
    <div class="footer-col col-md-4">
        <h3>關於我們</h3>
        <p><i class="fa fa-external-link"></i> <a href="/about">想知道這網站的作者是誰嗎？</a></p>
        <p><i class="fa fa-map-o"></i> <a href="/aboutweb">網站地圖</a></p>
        <p><i class="fa fa-envelope-o"></i>&nbsp; E-mail : ncufreshweb@gmail.com</p>
        <p><i class="fa fa-calendar" aria-hidden="true"></i> <a href="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ncufreshweb%40gmail.com&amp;color=%232952A3&amp;src=zh-tw.taiwan%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Asia%2FTaipei" target="_blank" class="nav-link"> 行事曆</a></p>

    </div>
</div>
</div>
</div>
<%# 下footer %>
<div class="footer-below text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                國立中央大學2017新生知訊網團隊 版權所有 &copy; 2017 NCU Fresh All Rights Reserved
            </div>
        </div>
    </div>
</div>
