<meta charset="utf-8">
<title><%= title %></title>

<link rel='stylesheet' href='/stylesheets/groupstyle.css' />

<!-- Bootstrap -->
<link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
