<meta charset="utf-8">
<title><%= title %></title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- 網頁小icon -->
<link rel='stylesheet' href='/stylesheets/font-awesome/css/font-awesome.min.css' />

<!-- Bootstrap -->
<link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Material Design Bootstrap -->
<link href="/stylesheets/main/mdb.min.css" rel="stylesheet">

<!-- footer css -->
<link rel='stylesheet' href='/stylesheets/main/layout.css' />

<link rel="icon" type="image/png" href="images/main/icon.png" />
