<nav class="navbar navbar-fixed-top navbar-light red lighten-1  ">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="color: black;">NCU fresh 17</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item active"><a href="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ncufreshweb%40gmail.com&amp;color=%232952A3&amp;src=zh-tw.taiwan%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Asia%2FTaipei" target="_blank" class="nav-link"><i class="fa fa-calendar" aria-hidden="true"></i> 行事曆</a></li>
        <li class="nav-item"><a href="/documents" class="nav-link"><i class="fa fa-lightbulb-o " aria-hidden="true"></i> 新生必讀</a></li>
        <li class="nav-item"><a href="/QnA" class="nav-link"><i class="fa fa-question" aria-hidden="true"></i> 新生Ｑ＆Ａ</a></li>
        <li class="nav-item"><a href="/campus" class="nav-link"><i class="fa fa-map" aria-hidden="true"></i> 校園導覽</a></li>
        <li class="nav-item"><a href="/groups" class="nav-link"><i class="fa fa-users" aria-hidden="true"></i> 系所社團</a></li>
        <li class="nav-item"><a href="/life" class="nav-link"><i class="fa fa-cutlery" aria-hidden="true"></i> 中大生活</a></li>
        <li class="nav-item"><a href="/smallgame" class="nav-link"><i class="fa fa-gamepad" aria-hidden="true"></i> 小遊戲</a></li>
        <li class="nav-item"><a href="/video" class="nav-link"><i class="fa fa-video-camera" aria-hidden="true"></i> 影音專區</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if(user){ %>

        <li class="nav-item dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                  你好！<%= user.local.email%> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                  <li><a href="/personal"><i class="fa fa-user" aria-hidden="true"></i> 個人專區</a></li>
                  <li><a href="/logout">登出</a></li>
              </ul>
        </li>

        <%}else{%>
        <li class="nav-item"><a href="/login">登入</a></li>
        <li class="nav-item"><a href="/register">註冊</a></li>

        <%} %>
      </ul>

    </div><!--/.nav-collapse -->
  </div>
</nav>
