<script>

/// Preview uploaded image
    $("#uploadImage").change(function() {
        readImage( this );
    });

    function readImage(input) {
        if ( input.files && input.files[0] ) {
            $('#myModal').modal('show');
            $("#img_title").remove();
            var FR= new FileReader();
            FR.onload = function(e) {
                //e.target.result = base64 format picture
                $('#img').attr( "src", e.target.result );
                $('#img2').attr( "src", e.target.result );
            };       
            FR.readAsDataURL( input.files[0] );

        }
    }

/// Confirm/Cancel upload image

    function uploadPhoto() {
        alert("confirm");
    }

    function cancelUpload() {
        alert("cancel");
        $('#img').attr( "src", "");
        $('#profile').append('<span id="img_title"><font size="8">大頭貼</font></span>');
    }

/// Q-A table action
    
    $(document).ready(function(){
        $('.openModal').on('click', function(){

            var titleText = $(this).closest('tr').find('td:eq(3)').text();
            var qesText = $(this).closest('tr').find('td:eq(3)').text();
            var ansText = $(this).closest('tr').find('td:eq(3)').text();
            
            $('#tt').html('標題: ' + titleText);
            $('#qesField').html($('<b> Question: ' + qesText  + '</b>'));
            $('#ansField').html($('<b> Answer:  asdfasdf </b>'));
        });
    });


/// game button action
    function gameOnClick() {
        //document.getElementById("per").innerHTML = "Hello World";
    }

</script>