<!DOCTYPE html>
<html>
    <head>
        <% include ../layouts/head %>
        <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">

        <style>

            .content {
                margin: 0;
                padding: 0;
                width: 100%;
                color: #B0BEC5;
                display: table;
                font-weight: 100;
                font-family: 'Lato';
            }

            .container {
                /*text-align: center;*/
                /*display: table-cell;*/
                vertical-align: middle;
            }

            .content {
                text-align: center;
                display: inline-block;
            }

            .title {
                font-size: 72px;
                margin-bottom: 40px;
            }
        </style>
    </head>
    <body>
      <header>
          <% include ../layouts/navbar %>

      </header>

        <div class="container">
            <div class="content">
                <div class="title" style="margin-top: 220px;margin-left: 20px;">新生知訊網維修中.....</div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <img class="center-block" src="/error/oops.png" alt="Oops" />
                </div>
            </div>
        </div>
        <footer>
            <% include ../layouts/footer %>
        </footer>
        <% include ../layouts/js %>
    </body>
</html>
