<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>
    <main>
        <div class="container">
          <br>
          <div class="jumbotron">
              <h1>This page is <%= title  %></h1>
              <p>Welcome to templating using EJS</p>
          </div>
        </div>

    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>

</body>
</html>
