<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
    <link rel="stylesheet" type="text/css" href="stylesheets/main/elastislide.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/main/gallery.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/main/timeline.css" />
    <style>
      /*切版*/
      .imgGall{
        padding: 0px;
      }
      .news,.calendar,.dj{
        /*background-color: #000;*/
        padding: 0px;
      }
      .calendar{
        background-color: #acccfc;
      }
      .news-word,.calendar-word{
        text-align: center;
      }
      .wrapper:before, .wrapper:after,footer:before{
  			background-repeat: no-repeat;
  			background-size: 100% 100%;
  			content: '';
  			display: block;
  			height: 6.5em;
  			/*position: absolute;*/
  			width: 100%;
  		}
      .news::before{
        background-color: #fff;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 0,0' style='fill:#4dc0c7' /%3E%3C/svg%3E");
      }
      .news-hr{
        border:0; height:3px;
        background-color:#4dc0c7;
	      color:#4dc0c7 /* IE6 */
      }
      .time-hr{
        border:0; height:3px;
        background-color:#fff;
	      color:#fff)/* IE6 */
      }

      .calendar::before{
        background-color: #fff;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,0 100,100 0,100 ' style='fill:#acccfc' /%3E%3C/svg%3E");
      }
      .dj::before{
        background-color: #acccfc;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,0 100,100 0,100 ' style='fill:#fff' /%3E%3C/svg%3E");
      }
      footer::before{
        padding: 0px;
        background-color: #fff;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,0 100,100 0,100 ' style='fill:#4dc0c7' /%3E%3C/svg%3E");
      }
      /*公告區的style*/
      .list-group{
        height: 500px;
        overflow-y: scroll;
      }
      .w-100{
        width: 100%!important;
      }
      .d-flex {
          display: -webkit-box!important;
          display: -webkit-flex!important;
          display: -ms-flexbox!important;
          display: flex!important;
      }
      .justify-content-between {
          -webkit-box-pack: justify!important;
          -webkit-justify-content: space-between!important;
          -ms-flex-pack: justify!important;
          justify-content: space-between!important;
      }
      /*照片gallery*/
      /* Slideshow container */
      .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
      }

      .mySlides {
          display: none;
      }

      /* Next & previous buttons */
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
      }

      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }

      /* On hover, add a black background color with a little bit see-through */
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }

      /* Caption text */
      .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
      }

      /* Number text (1/3 etc) */
      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }

      /* The dots/bullets/indicators */
      .dot {
        cursor:pointer;
        height: 13px;
        width: 13px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }

      .active, .dot:hover {
        background-color: #717171;
      }

      /* Fading animation */
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }

      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }

      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
      /*top btn*/
      #topBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        /*background-color: red; /* Set a background color */*/
        /*color: white; /* Text color */*/
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        /*border-radius: 10px; /* Rounded corners */*/
    }


    </style>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>
    <main>
        <div class="">

            <div class="imgGall container-fluid gallery ">
              <!-- Elastislide Carousel -->
    					<ul id="carousel" class="elastislide-list">
                <% galimgs.forEach(function(galimg){ %>
                  <li><a href="<%= galimg.videourl %>"><img src="/images/main/galimg/<%= galimg.imgurl %>" alt="<%= galimg.name %>" /></a></li>
                <% }); %>

    					</ul>
    					<!-- End Elastislide Carousel -->
            </div>
            <div class="news container-fluid wrapper">
              <div class="news-word">
                <h1>最新消息</h1>
                <h4>我  們  將  會  定  期  更  新  最  新  資  訊！</h4>
                <hr class="news-hr" width="10%">
              </div>
              <div class="row">
                <div class="news-table col-md-5 col-md-offset-1">
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1">List group item heading</h4>
                        <small class="text-muted">3 days ago</small>
                      </div>
                      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1">List group item heading</h4>
                        <small class="text-muted">3 days ago</small>
                      </div>
                      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1">List group item heading</h4>
                        <small class="text-muted">3 days ago</small>
                      </div>
                      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1">List group item heading</h4>
                        <small class="text-muted">3 days ago</small>
                      </div>
                      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>

                  </div>
                </div>
                <div class="col-md-5">
                  <div class="slideshow-container">
                    <div class="mySlides">
                      <div class="numbertext">1 / 3</div>
                      <img src="images/main/1.jpeg" style="width:100%">
                    </div>

                    <div class="mySlides">
                      <div class="numbertext">2 / 3</div>
                      <img src="images/main/2.jpg" style="width:100%">
                    </div>

                    <div class="mySlides">
                      <div class="numbertext">3 / 3</div>
                      <img src="images/main/4.jpg" style="width:100%">
                    </div>

                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                  </div>
                  <br>

                  <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="calendar container-fluid wrapper">
              <div class="calendar-word">
                <h1>近期重要時程</h1>
                <h4>我  們  將  會  隨  時  提  醒  你  重  要  時  程！</h4>
                <hr class="time-hr" width="10%">
              </div>
              <div class="timeline">
                <section class="cd-horizontal-timeline">
                	<div class="timeline">
                		<div class="events-wrapper">
                			<div class="events">
                				<ol>
                					<li><a href="#0" data-date="16/01/2014">1/16</a></li>
                					<li><a href="#0" data-date="28/02/2014">2/28</a></li>
                					<li><a href="#0" data-date="20/04/2014">3/20</a></li>
                					<li><a href="#0" data-date="20/05/2014">5/20</a></li>
                					<li><a href="#0" data-date="09/07/2014">7/09</a></li>
                					<li><a href="#0" data-date="30/08/2014">8/30</a></li>
                					<li><a href="#0" data-date="15/09/2014">9/15</a></li>
                					<li><a href="#0" data-date="01/11/2014">11/01</a></li>
                					<li><a href="#0" data-date="10/12/2014">12/10</a></li>
                					<li><a href="#0" data-date="19/01/2015" data-toggle="tooltip" title="Hooray!" data-placement="bottom">1/29</a></li>
                					<li class="new"><a href="#0" data-date="03/03/2015" class="selected">3/3</a></li>
                				</ol>

                				<span class="filling-line" aria-hidden="true"></span>
                			</div> <!-- .events -->
                		</div> <!-- .events-wrapper -->

                		<ul class="cd-timeline-navigation">
                			<li><a href="#0" class="prev inactive">pre</a></li>
                			<li><a href="#0" class="next">next</a></li>
                		</ul> <!-- .cd-timeline-navigation -->
                	</div> <!-- .timeline -->

                	<div class="events-content">
                		<ol>
                			<li data-date="16/01/2014">
                				<h2>Horizontal Timeline</h2>
                				<em>January 16th, 2014</em>
                				<p>
                					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                				</p>
                			</li>

                			<li data-date="28/02/2014">
                				<h2>Event title here</h2>
                				<em>February 28th, 2014</em>
                				<p>
                					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                				</p>
                			</li>

                			<li data-date="20/04/2014">
                				<h2>Event title here</h2>
                				<em>March 20th, 2014</em>
                				<p>
                					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                				</p>
                			</li>

                			<li data-date="20/05/2014">
                				<h2>Event title here</h2>
                				<em>May 20th, 2014</em>
                				<p>
                					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                				</p>
                			</li>

                			<li data-date="09/07/2014">
                				<h2>Event title here</h2>
                				<em>July 9th, 2014</em>
                				<p>
                					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                				</p>
                			</li>

                			<li data-date="30/08/2014">
                				<h2>Event title here</h2>
                				<em>August 30th, 2014</em>
                				<p>
                					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                				</p>
                			</li>

                			<li data-date="15/09/2014">
                				<h2>Event title here</h2>
                				<em>September 15th, 2014</em>
                				<p>
                					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                				</p>
                			</li>

                			<li data-date="01/11/2014">
                				<h2>Event title here</h2>
                				<em>November 1st, 2014</em>
                				<p>
                					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                				</p>
                			</li>

                			<li data-date="10/12/2014">
                				<h2>Event title here</h2>
                				<em>December 10th, 2014</em>
                				<p>
                					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                				</p>
                			</li>

                			<li data-date="19/01/2015">
                				<h2>Event title here</h2>
                				<em>January 19th, 2015</em>
                				<p>
                					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                				</p>
                			</li>

                			<li data-date="03/03/2015" class="selected">
                				<h2>Event title here</h2>
                				<em>March 3rd, 2015</em>
                				<p>
                					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                				</p>
                			</li>
                		</ol>
                	</div> <!-- .events-content -->
                </section>
              </div>
            </div>
            <div class="dj container-fluid wrapper">
              <div class="dj-word">
                <h1>松濤電台</h1>
              </div>
            </div>
            <img src="images/main/top.png" onclick="topFunction()" id="topBtn" alt="">
            <% if(user&&user.local.accountType==='admin'){%>
            <a href="/manageMain"><i class="fa fa-cogs" aria-hidden="true"></i> 管理首頁</a>
            <% } %>
        </div>




    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>
        <script type="text/javascript" src="javascript/main/modernizr.custom.17475.js"></script>
        <script type="text/javascript" src="javascript/main/jquery.elastislide.js"></script>
        <script type="text/javascript" src="javascript/main/modernizr.js"></script>
        <script type="text/javascript" src="javascript/main/timeline.js"></script>
        <script type="text/javascript">
    			$( '#carousel' ).elastislide( {
    				minItems : 2
    			} );
          var slideIndex = 1;
          showSlides(slideIndex);

          function plusSlides(n) {
            showSlides(slideIndex += n);
          }

          function currentSlide(n) {
            showSlides(slideIndex = n);
          }

          function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
          }
          window.onscroll = function() {scrollFunction()};

          function scrollFunction() {
              if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                  document.getElementById("topBtn").style.display = "block";
              } else {
                  document.getElementById("topBtn").style.display = "none";
              }
          }

          // When the user clicks on the button, scroll to the top of the document
          function topFunction() {
              document.body.scrollTop = 0; // For Chrome, Safari and Opera
              document.documentElement.scrollTop = 0; // For IE and Firefox
          }
          $(function(){
            $('[data-toggle="tooltip"]').tooltip();
          })
    		</script>

</body>
</html>
