<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
        <style media="screen">
          main{
            background-image: url('/images/main/loginbg.png');
            padding-top: 50px;
          }
          .other-btn{
            width: 100%;
          }


        </style>
    </header>
    <main>
        <div class="container">
          <div class="col-sm-6 col-sm-offset-3">

            <span class="fa fa-sign-in"></span> 註冊

            <h2>一般使用者註冊</h2>
            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <!-- LOGIN FORM -->
            <form action="/register" method="post">
              <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" name="name" required>
              </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" required>
                </div>

                <button type="submit" class="btn btn-warning btn-lg other-btn">註冊</button>
            </form>

            <div  class="">
              <h2>校內使用者登入 <small data-toggle="popover"  data-content="透過portal登入可以透過小遊戲來獲得服務時數喔！">點我</small></h2>
              <div>
                <button type="button" name="button"  class="btn btn-default other-btn portalbtn">透過portal登入！</button>
              </div>
              <div>
                <button type="button" name="button"  class="btn btn-danger other-btn portalbtnq">什麼是portal？</button>
              </div>
            </div>

          </div>
        </div>

    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>
        <script type="text/javascript">
          $(function(){
            $('.portalbtn').on('click',function(){
              window.location.href = '/auth/provider';
            });
            $('.regbtn').on('click',function(){
              window.location.href = '/register';
            });
            $('.portalbtnq').on('click',function(){
              window.location.href = 'http://www.cc.ncu.edu.tw/account/freshman/';
            });
            $('[data-toggle="popover"]').popover();
          });

        </script>

</body>
</html>
