<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>
    <%//新增model%>
        <div class="modal fade" id="add_model" role="dialog">
            <div class="modal-dialog modal-lg">
                <%//Modal content%>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">新增</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/aboutweb/add" enctype="multipart/form-data" method="post" accept-charset="utf-8">

                            <div class='form-group'>
                                <label for="content">在這裡輸入路由</label>
                                <input name="content" type="text" value="/"></input><br>
                            </div>

                            <input for="img_path" type="hidden" id="imgid" name="imgid">
                            <label for="uploadingImg" class="input-group">
                                <input type="text" class="form-control" id="img_path" name="img_path">
                                <div class="input-group-btn">
                                    <span class="btn btn-default">
                                        <i class="fa fa-file" aria-hidden="true"></i> 上傳
                                    </span>
                                </div>
                            </label>
                            <input class="form-control" id="uploadingImg" type="file" name="uploadingImg" style="display: none;" accept="image/*" onchange="this.form.img_path.value=this.value.substr(this.value.lastIndexOf('\\')+1);">
                            <button type="submit" name="button" class="btn btn-primary">送出</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    <%//編輯model%>
        <div class="modal fade" id="edit_modal" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="mapObj_title">編輯物件</h4>
                    </div>
                    <div class="modal-body">
                        
                        <form action="/campus/newMapObj" method="post" accept-charset="utf-8">

                            <div class='form-group'>
                                <label for="x"><p>X座標</p></label>
                                <input type="text" name="x_position" value=0>
                            </div>

                            <div class='form-group'>
                                <label for="y-position"><p>Y座標</p></label>
                                <input type="text" name="y_position" id="y-position" value=0>
                            </div>

                            <div class='form-group'>
                                <label for="size"><p>Size</p></label>
                                <input type="text" name="size" id="size" value=0>
                            </div>
                            <div style="position:relative;width:100%;padding-bottom:56%">
                                <img src="/campus/default/back2.png" id="editmap" width="100%" alt="" style="position:absolute;">
                                <img class="draggable" src="" alt="" id="building_img" style="position:absolute; padding:0.5vh">
                                <img class="draggable" src="/campus/default/SOS1.png" alt="" id="SOSimg" style="display:none;position:absolute;width:3%;">
                                <img class="draggable" src="/campus/default/AED1.png" alt="" id="AEDimg" style="display:none;position:absolute;width:3%;">
                            </div>
                            <input type="hidden" name="mapObj_id" id="mapObj_id">
                            <input type="hidden" name="SOSx" id="SOSx">
                            <input type="hidden" name="SOSy" id="SOSy">
                            <input type="hidden" name="AEDx" id="AEDx">
                            <input type="hidden" name="AEDy" id="AEDy">
                            <button type="submit" name="button" value="edit" class="btn btn-primary" >送出</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    <main style="background-image: url(/aboutweb/網頁背景.png); background-repeat: repeat; background-size: contain;background-attachment: scroll; background-size: 25%;">
        <div style="height:123vh; position:relative;margin-top: 5vh; margin-bottom: 5vw; margin-left: 5vw; margin-right: 5vw;">
            <img src="https://www.ledr.com/colours/white.jpg" style="position:absolute; width: 100%; top:0; left:0;">
            <% for (var i in aboutweb){%>
                <img src="<%=aboutweb[i].img_path%>" style="position:absolute; width: <%=aboutweb[i].size+"vw"%>; top:<%=aboutweb[i].y%>; left: <%=aboutweb[i].x%>">
            <%}%>
        </div>
    </main>

    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#add_model">新增</button>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <script type="text/javascript">
            
        </script>
        <% include ../layouts/js %>
</body>
</html>
