<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>
    <main style="background-image: url(/aboutweb/網頁背景.png); background-repeat: repeat; background-size: contain;background-attachment: scroll; background-size: 25%;">
        <div style="position:relative;margin-top: 5vh; margin-bottom: 5vw; margin-left: 5vw; margin-right: 5vw;">
            <img src="https://www.ledr.com/colours/white.jpg" style="position:relative; width: 100%;">
        </div>
        <a href="/aboutweb/edit_aboutweb/"><button style="width: 100vw" class="btn btn-success btn-lg btn-block"><p>後台</p></button></a>
    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>
</body>
</html>
