<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <main class="container">
        <div class="jumbotron">
            <h1>新增系所</h1>
            <hr size="8px" align="center" width="100%">
            <form action="groups.js">
            選擇類別:
            <select name="classes">
            <option value="literature">文學院</option>
            <option value="science">理學院</option>
            <option value="engineering">工學院</option>
            <option value="management">管理學院</option>
            <option value="ceecs">資訊電機學院</option>
            <option value="earth">地球科學學院</option>
            <option value="hikka">客家學院</option>
            <option value="chst">生醫理工學院</option>
            <option value="space">太空及遙測學位中心</option>
            </select>
            <br>
            系所名稱:
            <input type="text" name="department"></br>
            系所介紹:
            <textarea name="content1"></textarea></br>
            系學會:
            <textarea name="content2"></textarea></br>
            系所活動:
            <textarea name="content3"></textarea></br>
            系隊:
            <textarea name="content4"></textarea></br>
            系上課程:
            <textarea name="content5"></textarea></br>
            </form>
            <input type="submit"></br>
        </div>
    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
</body>
</html>
