<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <main style="background-color:rgb(225,192,0)">
      <div class="container">
            <h1 style="font-size: 100px;">社團</h1>
            <hr size="8px" align="center" width="100%">
            <ul class="breadcrumb">
              <li><a href="/groups">系所社團</a> <span class="divider"></span></li>
              <li class="active">社團</li>
            </ul>
            <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#add_club" style="width:100px;height:30px;text-align:center;">add</button></br>


              <!-- Modal -->
              <div class="modal fade" id="add_club" role="dialog">
                <div class="modal-dialog modal-lg">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 style="color:red;">新增社團</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <form action="/groups/add_club" method="post" accept-charset="utf-8">
                        <div class="form-group">
                          <label for="type" class="form-control">社團性質</label>
                          <select name="type" id="type" class="form-control">
                                      <option value="learn">學術性</option>
                                      <option value="play">康樂性</option>
                                      <option value="love">聯誼性</option>
                                      <option value="service">服務性</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="name" class="form-control">社團名稱</label>
                          <input type="text" class="form-control" id="name" placeholder="熱門音樂社" name="name">
                        </div>
                        <div class="form-group">
                          <label for="introduction" class="form-control">社團介紹</label>
                          <textarea name="introduction"></textarea></br>
                        </div>
                        <button type="submit" class="btn btn-default btn-success btn-block" style="width:100px;height:30px;text-align:center;">add</button>
                      </form>

                    <div class="modal-footer">
                      <button type="submit" class="btn btn-default" data-dismiss="modal" style="width:120px;height:30px;text-align:left;">cancel</button>
                    </div>
                  </div>
                </div>
              </div> 
            </div>

            <a href="/groups/all_club?club=learn" style="position:relative;left:130px;padding:4vh"><img src="e1.png"></a>
            <a href="/groups/all_club?club=play" style="position:relative;left:130px;padding:4vh"><img src="e2.png"></a>
            <a href="/groups/all_club?club=love" style="position:relative;left:130px;padding:4vh"><img src="e3.png"></a>
            <a href="/groups/all_club?club=service" style="position:relative;left:130px;padding:4vh"><img src="e4.png"></a>
            </div>
        </div>
    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>

    <script type="text/javascript">
    CKEDITOR.replace('introduction',{
      filebrowserUploadUrl: '/uploader',
    });
    CKEDITOR.editorConfig = function (config){
        config.enterMode = CKEDITOR.ENTER_BR;
        config.autoParagraph = false;
    };
    </script>
</body>
</html>
