<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <main style="background-color:#CCE8F7">
      <div class="container" >

            <img src="w1.png" style="width: 40%;">
            <hr size="8px" align="center" width="100%">
            <a href="/groups/department"><img class="col-md-4" src="系所.png" style="padding:4vh;" ></a>
            <a href="/groups/club"></button><img src="社團.png" class="col-md-4" style="padding:4vh"></a>
            <a href="/groups/organization"></button><img src="學生組織.png" class="col-md-4" style="padding:4vh"></a>
            </div>
      
        </div>
    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>
</body>
</html>
