<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <main style="background-color:pink">
      <div class="container" >

            <h1 style="font-size: 100px;">系所社團</h1>
            <hr size="8px" align="center" width="100%">
            <a href="/groups/department" style="position:relative;left:20px"><img class="mouse-animate" src="系所.png" style="padding:4vh"></a>
            <a href="/groups/club" style="position:relative;left:20px"></button><img src="社團.png" class="mouse-animate" style="padding:4vh"></a>
            <a href="/groups/organization" style="position:relative;left:20px"></button><img src="學生組織.png" class="mouse-animate" style="padding:4vh"></a>
      
        </div>
    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>
</body>
</html>
