<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <main style="background-image: url(系所社團背景.png);">
      <div class="container" >

            <img src="系所社團字.png" style="width: 60%;padding-top: 20px">
            <hr size="8px" align="center" width="100%">
            <a href="/groups/department"><img class="col-xs-4" src="c11.png" style="padding:4vh;height: auto;" ></a>
            <a href="/groups/club"></button><img src="c31.png" class="col-xs-4" style="padding:4vh;height: auto;"></a>
            <a href="/groups/organization"></button><img src="c21.png" class="col-xs-4" style="padding:4vh;height: auto;"></a>
            </div>
      
        </div>
    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>
</body>
</html>
