<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $(".cc").mouseenter(function(){
                $(this).animate({
                    padding:'0px'
                }, 200);
        });
        $(".cc").mouseleave(function(){
                $(this).animate({
                    padding:'2vh'
                }, 200);
        });
    });
    </script>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <main style="background-image: url(/video/背景1.png);">
        <div class="container">
            <div class="row">
                <div class="col-md-2"><img src=""/></div>
                <div class="col-md-4"><img style="max-width: 45vw" src="/video/影音專區.png" class="img-responsive"/></div>
                <div class="col-md-3"><img src=""/></div>
            </div>
            <div class="row">
                <div class="col-xs-1"><img src=""/></div>
                <div class="col-xs-5"><a href="/video/life"><img style="padding: 2vh;" src="/video/圖片1.png" class="img-responsive cc" alt="生活BTN"/></a></div>
                <div class="col-xs-5"><a href="/video/interview"><img style="padding: 2vh;" src="/video/圖片2.png" class="img-responsive cc" alt="採訪BTN"/></a></div>
                <div class="col-xs-1"><img src=""/></div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>

</body>
</html>
