<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <main style="background-image:url('/video/背景1.png'); background-position: center top; background-size: contain; background-repeat: no-repeat; min-width: 100vw; min-height:100vh; width:300px; height: 150px;">
        <div class="container">
            <div>
                <a href="/">首頁</a>
                <h1 class="text-center"><strong>歡迎來到影音專區</strong></h1>
            </div>
            <div class="col-md-12"><img style="max-width: 1000px" src="/video/圖片3.png" class="img-responsive"/></div>
<<<<<<< HEAD
            <div class="row container">
                <!-- <div class="col-xs-1"><img style="max-width: 300px" src=""/></div> -->
                <div class="col-xs-6"><a href="/video/life"><img class="img-responsive"  src="/video/圖片1.png" class="img-responsive" alt="生活BTN"/></a></div>
                <div class="col-xs-6"><a href="/video/interview"><img class="img-responsive"  src="/video/圖片2.png" class="img-responsive" alt="採訪BTN"/></a></div>
                <!-- <div class="col-xs-1"><img style="max-width: 300px" src=""/></div> -->
=======
            <div class="row">
                <div class="col-xs-1"><img src=""/></div>
                <div class="col-xs-5"><a href="/video/life"><img src="/video/圖片1.png" class="img-responsive" alt="生活BTN"/></a></div>
                <div class="col-xs-5"><a href="/video/interview"><img src="/video/圖片2.png" class="img-responsive" alt="採訪BTN"/></a></div>
                <div class="col-xs-1"><img src=""/></div>
>>>>>>> video
            </div>
        </div>
    </main>




    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>

</body>
</html>
