<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        .cc{
            padding: 2vw; 
        }
        .cc:hover {
            padding: 0vw;
        }
    </style>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <main style="background-image: url(/video/背景1.png);">
        <div class="container">
            <div class="row">
                <div class="col-xs-1"><img src=""/></div>
                <div class="col-xs-10" style="height: 10vw;margin-bottom: 0vw;"><img style="max-width: 80vw;margin-top:7vw;margin-bottom: 0vw;width: 100%;left: 50%;position: absolute;transform: translate(-50%,-50%);" src="/video/影音專區.png" class="img-responsive"/></div>
                <div class="col-xs-1"><img src=""/></div>
            </div>
            <div class="row">
                <div class="col-xs-1"><img src=""/></div>
                <div class="col-xs-5"><a href="/video/life"><img src="/video/圖片1.png" class="img-responsive cc" alt="生活BTN"/></a></div>
                <div class="col-xs-5"><a href="/video/interview"><img src="/video/圖片2.png" class="img-responsive cc" alt="採訪BTN"/></a></div>
                <div class="col-xs-1"><img src=""/></div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>

</body>
</html>
