<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        // $("#freshmen-source,#master-freshmen-source,#often-link-source").mouseover(function(){
        //         $(this).animate({
        //             padding:'0px'
        //         }, 200);
        // });
        // $("#freshmen-source,#master-freshmen-source,#often-link-source").mouseout(function(){
        //         $(this).animate({
        //             padding:'2vw'
        //         }, 200);
        // });
        $(".under-1-source").click(function(){
            console.log("ha");
            $('#under-0').css({"display":"none"});
            $('#under-1').css({"display":"block"});
            $('#under-2').css({"display":"none"});
            $('#under-3').css({"display":"none"});
            $('#under-4').css({"display":"none"});
            $('#under-5').css({"display":"none"});
            $('#under-6').css({"display":"none"});
            $('#under-7').css({"display":"none"});
            $('#under-8').css({"display":"none"});
            return false;
        });
        $(".under-2-source").click(function(){
            console.log("ha");
            $('#under-0').css({"display":"none"});
            $('#under-1').css({"display":"none"});
            $('#under-2').css({"display":"block"});
            $('#under-3').css({"display":"none"});
            $('#under-4').css({"display":"none"});
            $('#under-5').css({"display":"none"});
            $('#under-6').css({"display":"none"});
            $('#under-7').css({"display":"none"});
            $('#under-8').css({"display":"none"});
            return false;
        });
        $(".under-3-source").click(function(){
            console.log("ha");
            $('#under-0').css({"display":"none"});
            $('#under-1').css({"display":"none"});
            $('#under-2').css({"display":"none"});
            $('#under-3').css({"display":"block"});
            $('#under-4').css({"display":"none"});
            $('#under-5').css({"display":"none"});
            $('#under-6').css({"display":"none"});
            $('#under-7').css({"display":"none"});
            $('#under-8').css({"display":"none"});
            return false;
        });
        $(".under-4-source").click(function(){
            console.log("ha");
            $('#under-0').css({"display":"none"});
            $('#under-1').css({"display":"none"});
            $('#under-2').css({"display":"none"});
            $('#under-3').css({"display":"none"});
            $('#under-4').css({"display":"block"});
            $('#under-5').css({"display":"none"});
            $('#under-6').css({"display":"none"});
            $('#under-7').css({"display":"none"});
            $('#under-8').css({"display":"none"});
            return false;
        });
        $(".under-5-source").click(function(){
            console.log("ha");
            $('#under-0').css({"display":"none"});
            $('#under-1').css({"display":"none"});
            $('#under-2').css({"display":"none"});
            $('#under-3').css({"display":"none"});
            $('#under-4').css({"display":"none"});
            $('#under-5').css({"display":"block"});
            $('#under-6').css({"display":"none"});
            $('#under-7').css({"display":"none"});
            $('#under-8').css({"display":"none"});
            return false;
        });
        $(".under-6-source").click(function(){
            console.log("ha");
            $('#under-0').css({"display":"none"});
            $('#under-1').css({"display":"none"});
            $('#under-2').css({"display":"none"});
            $('#under-3').css({"display":"none"});
            $('#under-4').css({"display":"none"});
            $('#under-5').css({"display":"none"});
            $('#under-6').css({"display":"block"});
            $('#under-7').css({"display":"none"});
            $('#under-8').css({"display":"none"});
            return false;
        });
        $(".under-7-source").click(function(){
            console.log("ha");
            $('#under-0').css({"display":"none"});
            $('#under-1').css({"display":"none"});
            $('#under-2').css({"display":"none"});
            $('#under-3').css({"display":"none"});
            $('#under-4').css({"display":"none"});
            $('#under-5').css({"display":"none"});
            $('#under-6').css({"display":"none"});
            $('#under-7').css({"display":"block"});
            $('#under-8').css({"display":"none"});
            return false;
        });
        $(".under-8-source").click(function(){
            console.log("ha");
            $('#under-0').css({"display":"none"});
            $('#under-1').css({"display":"none"});
            $('#under-2').css({"display":"none"});
            $('#under-3').css({"display":"none"});
            $('#under-4').css({"display":"none"});
            $('#under-5').css({"display":"none"});
            $('#under-6').css({"display":"none"});
            $('#under-7').css({"display":"none"});
            $('#under-8').css({"display":"block"});
            return false;
        });
    });
    </script>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <main style=" background-color: #00BFFF !important; min-width: 100vw; max-width:100vw">
      <div class="container">
        <div class="text-right"><a href="/video">影音專區</a></div>
        <div class="row">
            <section class="container">
                <!-- <h1 class="text-center">大一新生</h1> -->
                <div class="col-xs-3">
                    <ul class="nav nav-pills nav-justified row" style="padding: 10px;">
                        <div class="row">
                            <div class="col-xs-3"><img src=""/></div>
                            <div class="col-xs-2"><a href="/"><img src="/video/圖片10.png" alt="home"/></a></div>
                        </div>
                        <p> </p>
                        <li role="presentation" class="under-1-source"><a href="#under-1">文學院</a></li>
                        <p> </p>
                        <li role="presentation" class="under-2-source"><a href="#under-2">理學院</a></li>
                        <p> </p>
                        <li role="presentation" class="under-3-source"><a href="#under-3">工學院</a></li>
                        <p> </p>
                        <li role="presentation" class="under-4-source"><a href="#under-4">管理學院</a></li>
                        <p> </p>
                        <li role="presentation" class="under-5-source"><a href="#under-5">資訊電機學院</a></li>
                        <p> </p>
                        <li role="presentation" class="under-6-source"><a href="#under-6">地科科學學院</a></li>
                        <p> </p>
                        <li role="presentation" class="under-7-source"><a href="#under-7">客家學院</a></li>
                        <p> </p>
                        <li role="presentation" class="under-8-source"><a href="#under-8">生醫理工學院</a></li>
                    </ul>
                </div>
                <div class="row container" id="under-0" style="display: block;">
                    <div class="col-xs-3"><img src=""/></div>
                    <div class="col-xs-6"><h1><strong>歡迎進入採訪區</strong></h1></div>
                    <div class="col-xs-9"><img src="/video/圖片3.png" alt="tt"/></div>
                    <div class="col-xs-1"><img src=""/></div>
                    <div class="col-xs-7"><img style="display:inline-block;" class="img-responsive" alt="校景" src="/video/圖片11.png" class="img-responsive"/></div>
                </div>
                <div class="row container" id="under-1" style="display: none;">
                    <div class="text-center"><h1 style="font-size: 300%;"><strong>文學院</strong></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-3"><img style="display:inline-block;" class="img-responsive" alt="國文" src="/video/國文.png" class="img-responsive" data-toggle="modal" data-target="#1"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;" class="img-responsive" alt="英文" src="/video/英文.png" class="img-responsive" data-toggle="modal" data-target="#2"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;" class="img-responsive" alt="法文" src="/video/法文.png" class="img-responsive" data-toggle="modal" data-target="#3"/></div>
                </div>
                <div class="row container" id="under-2" style="display: none;">
                    <div class="text-center"><h1 style="font-size: 300%;"><strong>理學院</strong></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-3"><img style="display:inline-block;" class="img-responsive" alt="土木" src="/video/土木.png" class="img-responsive" data-toggle="modal" data-target="#4"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;" class="img-responsive" alt="化材" src="/video/化材.png" class="img-responsive" data-toggle="modal" data-target="#5"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;" class="img-responsive" alt="機械" src="/video/機械.png" class="img-responsive" data-toggle="modal" data-target="#6"/></div>
                </div>
                <div class="row container" id="under-3" style="display: none;">
                    <div class="text-center"><h1 style="font-size: 300%;"><strong>工學院</strong></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                     <div class="col-xs-3"><img style="display:inline-block;" class="img-responsive" alt="化學" src="/video/化學.png" class="img-responsive" data-toggle="modal" data-target="#7"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;" class="img-responsive" alt="數學" src="/video/數學.png" class="img-responsive" data-toggle="modal" data-target="#8"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;" class="img-responsive" alt="光電" src="/video/光電.png" class="img-responsive" data-toggle="modal" data-target="#9"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;" class="img-responsive" alt="理學院" src="/video/理學院.png" class="img-responsive" data-toggle="modal" data-target="#10"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;" class="img-responsive" alt="物理" src="/video/物理.png" class="img-responsive" data-toggle="modal" data-target="#11"/></div>
                </div>
                <div class="row container" id="under-4" style="display: none;">
                    <div class="text-center"><h1 style="font-size: 300%;"><strong>管理學院</strong></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-3"><img style="display:inline-block;" class="img-responsive" alt="企管" src="/video/企管.png" class="img-responsive" data-toggle="modal" data-target="#12"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;" class="img-responsive" alt="財金" src="/video/財金.png" class="img-responsive" data-toggle="modal" data-target="#13"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;" class="img-responsive" alt="經濟" src="/video/經濟.png" class="img-responsive" data-toggle="modal" data-target="#14"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;" class="img-responsive" alt="資管" src="/video/資管.png" class="img-responsive" data-toggle="modal" data-target="#15"/></div>
                </div>
                <div class="row container" id="under-5" style="display: none;">
                    <div class="text-center"><h1 style="font-size: 300%;"><strong>資訊電機學院</strong></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-3"><img style="display:inline-block;" class="img-responsive" alt="通訊" src="/video/通訊.png" class="img-responsive" data-toggle="modal" data-target="#16"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;" class="img-responsive" alt="資工" src="/video/資工.png" class="img-responsive" data-toggle="modal" data-target="#17"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;" class="img-responsive" alt="電機" src="/video/電機.png" class="img-responsive" data-toggle="modal" data-target="#18"/></div>
                </div>
                <div class="row container" id="under-6" style="display: none;">
                    <div class="text-center"><h1 style="font-size: 300%;"><strong>地球科學學院</strong></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-3"><img style="display:inline-block;" class="img-responsive" alt="大氣" src="/video/大氣.png" class="img-responsive" alt="" data-toggle="modal" data-target="#19"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;" class="img-responsive" alt="地科" src="/video/地科.png" class="img-responsive" data-toggle="modal" data-target="#20"/></div>
                </div>
                    <div class="row container" id="under-7" style="display: none;">
                    <div class="text-center"><h1 style="font-size: 300%;"><strong>客家學院</strong></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-2"><img style="display:inline-block;" class="img-responsive"src="" class="img-responsive"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;" class="img-responsive" alt="客家" src="/video/客家.png" class="img-responsive" data-toggle="modal" data-target="#21"/></div>
                </div>
                <div class="row container" id="under-8" style="display: none;">
                    <div class="text-center"><h1 style="font-size: 300%;"><strong>生醫理工學院</strong></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-1"><h1></h1></div>
                    <div class="col-xs-3"><img style="display:inline-block;" class="img-responsive" alt="生科" src="/video/生科.png" class="img-responsive" data-toggle="modal" data-target="#22"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;" class="img-responsive" alt="生醫" src="/video/生醫.png" class="img-responsive" data-toggle="modal" data-target="#23"/></div>
                </div>
            </section>
        <!-- Modal -->
        <div class="modal fade" id="1" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">中國文學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/國文.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="2" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">英美語文學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/英文.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="3" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">法國語文學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/法文.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="4" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">土木工程學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/土木.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="5" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">化學工程與材料工程學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/化材.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="6" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">機械工程學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/機械.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="7" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">化學學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/化學.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="8" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">數學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/數學.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="9" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">光電科學與工程學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/光電.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="10" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">理學院學士班</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/理學院.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="11" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">物理學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/物理.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="12" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">企業管理學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/企管.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="13" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">財務金融學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/財金.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="14" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">經濟學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/經濟.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="15" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">資訊管理學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/資管.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="16" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">通訊工程學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/通訊.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="17" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">資訊工程學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/資工.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="18" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">電機工程學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/電機.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="19" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">大氣科學學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/大氣.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="20" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">地球科學學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/地科.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="21" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">客家語文暨社會科學學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/客家.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="22" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">生命科學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/生科.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="23" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">生醫科學與工程學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/生醫.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </main>


    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>

</body>
</html>
