<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <main>
      <div class="container">


        <div>
            <div class="text-right"><a href="/video">影音專區</a></div>
        </div>
            <div class="row">
                <div class="col-md-5"><div class="text-left"><a href="/"><img style="max-width: 70px" src="/video/圖片10.png" alt="home"/></a></div></div>
                <div class="col-md-7"><h1><strong>歡迎進入採訪區</strong></h1></div>
            </div>
            <div class="text-center"><img style="max-width: 1000px" src="/video/圖片3.png" alt="tt"/></div>
        </div>
        <p> </p>
        <a href="/video">文學院</a>
        <p> </p>
        <a href="/video">理學院</a>
        <p> </p>
        <a href="/video">工學院</a>
        <p> </p>
        <a href="/video">管理學院</a>
        <p> </p>
        <a href="/video">資訊電機學院</a>
        <p> </p>
        <a href="/video">地科科學學院</a>
        <p> </p>
        <a href="/video">客家學院</a>
        <p> </p>
        <a href="/video">生醫理工學院</a>
        </div>
    </main>


    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>

</body>
</html>
