<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $(".cc").mouseenter(function(){
                $(this).animate({
                    padding:'0px'
                }, 200);
        });
        $(".cc").mouseleave(function(){
                $(this).animate({
                    padding:'2vh'
                }, 200);
        });
        $(".under-1-source").click(function(){
            console.log("ha");
            $('#under-0').css({"display":"none"});
            $('#under-1').css({"display":"block"});
            $('#under-2').css({"display":"none"});
            $('#under-3').css({"display":"none"});
            $('#under-4').css({"display":"none"});
            $('#under-5').css({"display":"none"});
            $('#under-6').css({"display":"none"});
            $('#under-7').css({"display":"none"});
            $('#under-8').css({"display":"none"});
            return false;
        });
        $(".under-2-source").click(function(){
            console.log("ha");
            $('#under-0').css({"display":"none"});
            $('#under-1').css({"display":"none"});
            $('#under-2').css({"display":"block"});
            $('#under-3').css({"display":"none"});
            $('#under-4').css({"display":"none"});
            $('#under-5').css({"display":"none"});
            $('#under-6').css({"display":"none"});
            $('#under-7').css({"display":"none"});
            $('#under-8').css({"display":"none"});
            return false;
        });
        $(".under-3-source").click(function(){
            console.log("ha");
            $('#under-0').css({"display":"none"});
            $('#under-1').css({"display":"none"});
            $('#under-2').css({"display":"none"});
            $('#under-3').css({"display":"block"});
            $('#under-4').css({"display":"none"});
            $('#under-5').css({"display":"none"});
            $('#under-6').css({"display":"none"});
            $('#under-7').css({"display":"none"});
            $('#under-8').css({"display":"none"});
            return false;
        });
        $(".under-4-source").click(function(){
            console.log("ha");
            $('#under-0').css({"display":"none"});
            $('#under-1').css({"display":"none"});
            $('#under-2').css({"display":"none"});
            $('#under-3').css({"display":"none"});
            $('#under-4').css({"display":"block"});
            $('#under-5').css({"display":"none"});
            $('#under-6').css({"display":"none"});
            $('#under-7').css({"display":"none"});
            $('#under-8').css({"display":"none"});
            return false;
        });
        $(".under-5-source").click(function(){
            console.log("ha");
            $('#under-0').css({"display":"none"});
            $('#under-1').css({"display":"none"});
            $('#under-2').css({"display":"none"});
            $('#under-3').css({"display":"none"});
            $('#under-4').css({"display":"none"});
            $('#under-5').css({"display":"block"});
            $('#under-6').css({"display":"none"});
            $('#under-7').css({"display":"none"});
            $('#under-8').css({"display":"none"});
            return false;
        });
        $(".under-6-source").click(function(){
            console.log("ha");
            $('#under-0').css({"display":"none"});
            $('#under-1').css({"display":"none"});
            $('#under-2').css({"display":"none"});
            $('#under-3').css({"display":"none"});
            $('#under-4').css({"display":"none"});
            $('#under-5').css({"display":"none"});
            $('#under-6').css({"display":"block"});
            $('#under-7').css({"display":"none"});
            $('#under-8').css({"display":"none"});
            return false;
        });
        $(".under-7-source").click(function(){
            console.log("ha");
            $('#under-0').css({"display":"none"});
            $('#under-1').css({"display":"none"});
            $('#under-2').css({"display":"none"});
            $('#under-3').css({"display":"none"});
            $('#under-4').css({"display":"none"});
            $('#under-5').css({"display":"none"});
            $('#under-6').css({"display":"none"});
            $('#under-7').css({"display":"block"});
            $('#under-8').css({"display":"none"});
            return false;
        });
        $(".under-8-source").click(function(){
            console.log("ha");
            $('#under-0').css({"display":"none"});
            $('#under-1').css({"display":"none"});
            $('#under-2').css({"display":"none"});
            $('#under-3').css({"display":"none"});
            $('#under-4').css({"display":"none"});
            $('#under-5').css({"display":"none"});
            $('#under-6').css({"display":"none"});
            $('#under-7').css({"display":"none"});
            $('#under-8').css({"display":"block"});
            return false;
        });
        $(".d1").click(function(){
            $("#s1").html("")
        });
        $("#c1").click(function(){
            $("#s1").html('')
        });
        $(".d2").click(function(){
            $("#s2").html("")
        });
        $("#c2").click(function(){
            $("#s2").html('')
        });
        $(".d3").click(function(){
            $("#s3").html("")
        });
        $("#c3").click(function(){
            $("#s3").html('')
        });
        $(".d4").click(function(){
            $("#s4").html("")
        });
        $("#c4").click(function(){
            $("#s4").html('')
        });
        $(".d5").click(function(){
            $("#s5").html("")
        });
        $("#c5").click(function(){
            $("#s5").html('')
        });
        $(".d6").click(function(){
            $("#s6").html("")
        });
        $("#c6").click(function(){
            $("#s6").html('')
        });
        $(".d7").click(function(){
            $("#s7").html("")
        });
        $("#c7").click(function(){
            $("#s7").html('')
        });
        $(".d8").click(function(){
            $("#s8").html("")
        });
        $("#c8").click(function(){
            $("#s8").html('')
        });
        $(".d9").click(function(){
            $("#s9").html("")
        });
        $("#c9").click(function(){
            $("#s9").html('')
        });
        $(".d10").click(function(){
            $("#s10").html("")
        });
        $("#c10").click(function(){
            $("#s10").html('')
        });
        $(".d11").click(function(){
            $("#s11").html("")
        });
        $("#c11").click(function(){
            $("#s11").html('')
        });
        $(".d12").click(function(){
            $("#s12").html("")
        });
        $("#c12").click(function(){
            $("#s12").html('')
        });
        $(".d13").click(function(){
            $("#s13").html("")
        });
        $("#c13").click(function(){
            $("#s13").html('')
        });
        $(".d14").click(function(){
            $("#s14").html("")
        });
        $("#c14").click(function(){
            $("#s14").html('')
        });
        $(".d15").click(function(){
            $("#s15").html("")
        });
        $("#c15").click(function(){
            $("#s15").html('')
        });
        $(".d16").click(function(){
            $("#s16").html("")
        });
        $("#c16").click(function(){
            $("#s16").html('')
        });
        $(".d17").click(function(){
            $("#s17").html("")
        });
        $("#c17").click(function(){
            $("#s17").html('')
        });
        $(".d18").click(function(){
            $("#s18").html("")
        });
        $("#c18").click(function(){
            $("#s18").html('')
        });
        $(".d19").click(function(){
            $("#s19").html("")
        });
        $("#c19").click(function(){
            $("#s19").html('')
        });
        $(".d20").click(function(){
            $("#s20").html("")
        });
        $("#c20").click(function(){
            $("#s20").html('')
        });
        $(".d21").click(function(){
            $("#s21").html("")
        });
        $("#c21").click(function(){
            $("#s21").html('')
        });
        $(".d22").click(function(){
            $("#s22").html("")
        });
        $("#c22").click(function(){
            $("#s22").html('')
        });
        $(".d23").click(function(){
            $("#s23").html("")
        });
        $("#c23").click(function(){
            $("#s23").html('')
        });
    });
    </script>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <main style=" background-color: #00BFFF !important; min-width: 100vw; max-width:100vw">
      <div class="container">
        <div class="text-right"><a href="/video">影音專區</a></div>
        <div class="row">
            <section class="container">
                <!-- <h1 class="text-center">大一新生</h1> -->
                <div class="col-xs-3">
                    <ul class="nav nav-pills nav-justified row" style="padding: 10px;">
                        <div class="row">
                            <div class="col-xs-3"><img src=""/></div>
                            <div class="col-xs-2"><a href="/"><img src="/video/圖片10.png" alt="home"/></a></div>
                        </div>
                        <p> </p>
                        <li role="presentation" class="under-1-source"><a href="#under-1">文學院</a></li>
                        <p> </p>
                        <li role="presentation" class="under-2-source"><a href="#under-2">理學院</a></li>
                        <p> </p>
                        <li role="presentation" class="under-3-source"><a href="#under-3">工學院</a></li>
                        <p> </p>
                        <li role="presentation" class="under-4-source"><a href="#under-4">管理學院</a></li>
                        <p> </p>
                        <li role="presentation" class="under-5-source"><a href="#under-5">資訊電機學院</a></li>
                        <p> </p>
                        <li role="presentation" class="under-6-source"><a href="#under-6">地科科學學院</a></li>
                        <p> </p>
                        <li role="presentation" class="under-7-source"><a href="#under-7">客家學院</a></li>
                        <p> </p>
                        <li role="presentation" class="under-8-source"><a href="#under-8">生醫理工學院</a></li>
                    </ul>
                </div>
                <div class="row container" id="under-0" style="display: block;">
                    <div class="col-xs-3"><img src=""/></div>
                    <div class="col-xs-6"><h1><strong>歡迎進入採訪區</strong></h1></div>
                    <div class="col-xs-9"><img src="/video/圖片3.png" alt="tt"/></div>
                    <div class="col-xs-1"><img src=""/></div>
                    <div class="col-xs-7"><img style="display:inline-block;" class="img-responsive" alt="校景" src="/video/圖片11.png" class="img-responsive"/></div>
                </div>
                <div class="row container" id="under-1" style="display: none;">
                    <div class="text-center"><h1 style="font-size: 300%;"><strong>文學院</strong></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-3"><img style="display:inline-block;padding: 2vh;" class="img-responsive cc" id="c1" alt="國文" src="/video/國文.png" data-toggle="modal" data-target="#1"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;padding: 2vh;" class="img-responsive cc" id="c2" alt="英文" src="/video/英文.png" data-toggle="modal" data-target="#2"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;padding: 2vh;" class="img-responsive cc" id="c3" alt="法文" src="/video/法文.png" data-toggle="modal" data-target="#3"/></div>
                </div>
                <div class="row container" id="under-2" style="display: none;">
                    <div class="text-center"><h1 style="font-size: 300%;"><strong>理學院</strong></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-3"><img style="display:inline-block;padding: 2vh;" class="img-responsive cc" id="c4" alt="土木" src="/video/土木.png" data-toggle="modal" data-target="#4"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;padding: 2vh;" class="img-responsive cc" id="c5" alt="化材" src="/video/化材.png" data-toggle="modal" data-target="#5"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;padding: 2vh;" class="img-responsive cc" id="c6" alt="機械" src="/video/機械.png" data-toggle="modal" data-target="#6"/></div>
                </div>
                <div class="row container" id="under-3" style="display: none;">
                    <div class="text-center"><h1 style="font-size: 300%;"><strong>工學院</strong></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-1"><h1></h1></div>
                    <div class="col-xs-3"><img style="display:inline-block;padding: 2vh;" class="img-responsive cc" id="c7" alt="化學" src="/video/化學.png" data-toggle="modal" data-target="#7"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;padding: 2vh;" class="img-responsive cc" id="c8" alt="數學" src="/video/數學.png" class="img-responsive" data-toggle="modal" data-target="#8"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;padding: 2vh;" class="img-responsive cc" id="c9" alt="光電" src="/video/光電.png" data-toggle="modal" data-target="#9"/></div>
                    <!-- <div><class="col-xs-3 cc"><img src=""/></div> -->
                    <div class="col-xs-3"><img style="display:inline-block;padding: 2vh;" class="img-responsive cc" id="c10" alt="理學院" src="/video/理學院.png" data-toggle="modal" data-target="#10"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;padding: 2vh;" class="img-responsive cc" id="c11" alt="物理" src="/video/物理.png"  data-toggle="modal" data-target="#11"/></div>
                </div>
                <div class="row container" id="under-4" style="display: none;">
                    <div class="text-center"><h1 style="font-size: 300%;"><strong>管理學院</strong></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-1"><h1></h1></div>
                    <div class="col-xs-3"><img style="display:inline-block;padding: 2vh;" class="img-responsive cc" id="c12" alt="企管" src="/video/企管.png" data-toggle="modal" data-target="#12"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;padding: 2vh;" class="img-responsive cc" id="c13" alt="財金" src="/video/財金.png" data-toggle="modal" data-target="#13"/></div>
                    <div class="col-xs-1"><h1></h1></div>
                    <div class="col-xs-3"><img style="display:inline-block;padding: 2vh;" class="img-responsive cc" id="c14" alt="經濟" src="/video/經濟.png" data-toggle="modal" data-target="#14"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;padding: 2vh;" class="img-responsive cc" id="c15" alt="資管" src="/video/資管.png" data-toggle="modal" data-target="#15"/></div>
                </div>
                <div class="row container" id="under-5" style="display: none;">
                    <div class="text-center"><h1 style="font-size: 300%;"><strong>資訊電機學院</strong></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-3"><img style="display:inline-block;padding: 2vh;" class="img-responsive cc" id="c16" alt="通訊" src="/video/通訊.png" data-toggle="modal" data-target="#16"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;padding: 2vh;" class="img-responsive cc" id="c17" alt="資工" src="/video/資工.png" data-toggle="modal" data-target="#17"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;padding: 2vh;" class="img-responsive cc" id="c18" alt="電機" src="/video/電機.png" data-toggle="modal" data-target="#18"/></div>
                </div>
                <div class="row container" id="under-6" style="display: none;">
                    <div class="text-center"><h1 style="font-size: 300%;"><strong>地球科學學院</strong></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-1"><h1></h1></div>
                    <div class="col-xs-3"><img style="display:inline-block;padding: 2vh;" class="img-responsive cc" id="c19" alt="大氣" src="/video/大氣.png" alt="" data-toggle="modal" data-target="#19"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;padding: 2vh;" class="img-responsive cc" id="c20" alt="地科" src="/video/地科.png" data-toggle="modal" data-target="#20"/></div>
                </div>
                    <div class="row container" id="under-7" style="display: none;">
                    <div class="text-center"><h1 style="font-size: 300%;"><strong>客家學院</strong></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-3"><h1></h1></div>
                    <div class="col-xs-3"><img style="display:inline-block;padding: 2vh;" class="img-responsive cc" id="c21" alt="客家" src="/video/客家.png" data-toggle="modal" data-target="#21"/></div>
                </div>
                <div class="row container" id="under-8" style="display: none;">
                    <div class="text-center"><h1 style="font-size: 300%;"><strong>生醫理工學院</strong></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-9"><h1></h1></div>
                    <div class="col-xs-1"><h1></h1></div>
                    <div class="col-xs-3"><img style="display:inline-block;padding: 2vh;" class="img-responsive cc" id="c22" alt="生科" src="/video/生科.png" data-toggle="modal" data-target="#22"/></div>
                    <div class="col-xs-3"><img style="display:inline-block;padding: 2vh;" class="img-responsive cc" id="c23" alt="生醫" src="/video/生醫.png" data-toggle="modal" data-target="#23"/></div>
                </div>
            </section>
        <!-- Modal -->
        <div class="modal fade" id="1" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close d1" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">中國文學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/國文.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default d1" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="2" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close d2" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">英美語文學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/英文.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default d2" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="3" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close d3" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">法國語文學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/法文.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default d3" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="4" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close d4" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">土木工程學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/土木.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default d4" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="5" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close d5" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">化學工程與材料工程學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/化材.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default d5" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="6" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close d6" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">機械工程學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/機械.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default d6" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="7" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close d7" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">化學學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/化學.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default d7" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="8" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close d8" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">數學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/數學.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default d8" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="9" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close d9" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">光電科學與工程學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/光電.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default d9" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="10" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close d10" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">理學院學士班</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/理學院.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default d10" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="11" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close d11" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">物理學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/物理.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default d11" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="12" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close d12" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">企業管理學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/企管.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default d12" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="13" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close d13" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">財務金融學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/財金.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default d13" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="14" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close d14" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">經濟學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/經濟.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default d14" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="15" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close d15" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">資訊管理學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/資管.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default d15" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="16" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close d16" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">通訊工程學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/通訊.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default d16" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="17" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close d17" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">資訊工程學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/資工.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default d17" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="18" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close d18" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">電機工程學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/電機.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default d18" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="19" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close d19" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">大氣科學學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/大氣.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default d19" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="20" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close d20" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">地球科學學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/地科.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default d20" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="21" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close d21" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">客家語文暨社會科學學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/客家.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default d21" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="22" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close d22" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">生命科學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/生科.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default d22" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="23" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close d23" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">生醫科學與工程學系</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/生醫.png d23" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </main>


    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>

</body>
</html>

