<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <main class="container">
    <a href="/">首頁 ></a>
    <a href="/video"> 影音專區</a>
        <div>
            <h1 class="text-center"><strong>歡迎進入生活區</strong></h1>
        </div>
        <div class="col-md-12"><img style="max-width: 1000px" src="/video/圖片3.png" class="img-responsive"/></div>
        <div class="row">
            <div class="col-md-3"><img style="max-width: 200px" src="" class="img-responsive"/></div>
            <div class="col-md-3"><img style="max-width: 200px" src="/video/圖片5.png" class="img-responsive" alt="food" data-toggle="modal" data-target="#5"/></div>
            <div class="col-md-3"><img style="max-width: 200px" src="/video/圖片6.png" class="img-responsive" alt="housing" data-toggle="modal" data-target="#6"/></div>
            <div class="col-md-3"><img style="max-width: 200px" src="" class="img-responsive"/></div>
        </div>

        <div class="row">
            <div class="col-md-1"><img style="max-width: 200px" src="" class="img-responsive"/></div>
            <div class="col-md-4"><img style="max-width: 200px" src="/video/圖片7.png" class="img-responsive" alt="transportation" data-toggle="modal" data-target="#7"/></div>
            <div class="col-md-2"><img style="max-width: 200px" src="" class="img-responsive"/></div>
            <div class="col-md-4"><img style="max-width: 200px" src="/video/圖片9.png" class="img-responsive" alt="entertainment" data-toggle="modal" data-target="#9"/></div>
            <div class="col-md-1"><img style="max-width: 200px" src="" class="img-responsive"/></div>
        </div>
        <div class="row">
            <div class="col-md-4"><img style="max-width: 200px" src="" class="img-responsive"/></div>
            <div class="col-md-4"><img style="max-width: 200px" src="/video/圖片8.png" class="img-responsive" alt="education" data-toggle="modal" data-target="#8"/></div>
            <div class="col-md-4"><img style="max-width: 200px" src="" class="img-responsive"/></div>
        </div>

    <!-- Modal -->
        <div class="modal fade" id="5" role="dialog">
            <div class="modal-dialog">
    
    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">中央‧食</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/圖片4.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
              
            </div>
        </div>
    <!-- Modal -->
        <div class="modal fade" id="6" role="dialog">
            <div class="modal-dialog">
    
    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">中央‧住</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/圖片4.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
              
            </div>
        </div>
    <!-- Modal -->
        <div class="modal fade" id="7" role="dialog">
            <div class="modal-dialog">
    
    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">中央‧行</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/圖片4.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
              
            </div>
        </div>
    <!-- Modal -->
        <div class="modal fade" id="8" role="dialog">
            <div class="modal-dialog">
    
    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">中央‧育</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/圖片4.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
              
            </div>
        </div>
    <!-- Modal -->
        <div class="modal fade" id="9" role="dialog">
            <div class="modal-dialog">
    
    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">中央‧樂</h4>
                    </div>
                    <div class="modal-body">
                        <img style="max-width: 800px" src="/video/圖片4.png" class="img-responsive"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
              
            </div>
        </div>
    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
    
</body>
</html>