<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <main class="container">
        <div>
            <h1 class="text-center"><strong>歡迎進入採訪區</strong></h1>
        </div>
    </main>
    <!-- <div class="row">
        <div class="col-md-2"><img style="max-width: 300px" src=""/></div>
        <div class="col-md-4"><img style="max-width: 330px" src="圖片1.png" alt="生活BTN"/></div>
        <div class="col-md-4"><img style="max-width: 330px" src="圖片2.png" alt="採訪BTN"/></div>
        <div class="col-md-2"><img style="max-width: 300px" src=""/></div>
    </div> -->
    
    
    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
    
</body>
</html>