<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
        <% include naviCSS %>
    </header>

    <main style="background-image: url('background.png'); background-size: cover; background-repeat: no-repeat;">
    
        <div class="row">
            <% include navi %>

            <div class="col-xs-9">
                <h1><b>網頁美工組</b></h1>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <img class="thumbnail" src="/about/美工.jpg" alt="photo died!!!!!!" style="width:100%; margin: auto; display: block;">
                    </div>
                    <div class="col-md-4">
                        <p id="text" >美工組為單調的網頁模式注入生動活潑的靈魂，各處美編、精美的圖片都出自於他們之手，若說香水點綴了每個人的氣質，那美工組肯定是知訊網不可或缺的芬芳。</p>
                    </div>
                </div>
                
            </div>

        </div>

    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
</body>
</html>