<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
    <% include naviCSS %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <main style="background-image: url('background.png'); background-size: cover; background-repeat: no-repeat;">
        <div class="row">
            <% include navi %>

            <div class="col-xs-9">
                <h1><b>執行組</b></h1>
                <hr>
                <div class="row">
                        <div class="col-md-8">
                            <img class="thumbnail" src="/about/執行.jpg" alt="photo died!!!!!!" style="width:100%; margin: auto; display: block;">
                        </div>
                        <div class="col-md-4">
                            <p id="content" >執行組負責統整知訊網的事務，與各個相關社團、系所、組織進行協商與聯絡，成為各單位之間的橋樑 ; 更需招募知訊網工人，規劃網站的大方向，配合各個小組，共同創作出新生知訊網。</p>
                        </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
</body>
</html>