<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
        <% include naviCSS %>
    </header>
    
    <main style="background-image: url('background.png'); background-size: cover; background-repeat: no-repeat;">

        <div class="row">
            <% include navi %>

            <div class="col-xs-9">
                <h1><b>關於我們</b></h1>
                <hr>
                <img class="thumbnail" src="/about/團照.jpg" alt="photo died!!!!!!" style="width:95%; margin: auto; display: block;">
                <ul id="content" style="margin-top: 2%;">
                    <li style="padding-left: 1%; font-size:30px;"><b>為了迎接大學新鮮人，我們提供了各項新生需要的服務</b></li>
                    <li style="margin-top: 1%;"><span><a href="/documents"><b>「新生必讀」</b></a></span><span>提供了到大學需要注意的事項</span></li>
                    <li><span><a href="/QnA"><b>「新生Q&A」</b></a></span><span style="margin-left:0.5%;">透過問與答，解決新生的各種問題</span></span></li>
                    <li><span><a href="/campus"><b>「校園導覽」</b></a></span><span>讓新生對校園有更進一步的認識</span></li>
                    <li><span><a href="/groups"><b>「系所社團」</b></a></span><span>輕鬆掌握在中央的食衣住行育樂</span></li>
                    <li><span><a href="/video"><b>「影音專區」</b></a></span><span>由影片帶領新生搶先體驗中大生活</span></li>
                    <li><span><a onclick="checkLogin(this)"><b>「個人專區」</b></a></span><span>在知訊網中開拓一片屬於自己的地盤吧！</span></li>
                </ul>
            </div>
        </div>

        <div class="modal fade" id="checkLoginModal" role="dialog">
            <div class="modal-dialog">
                        
                <div class="modal-content">
                            
                    <div class="modal-header" style="text-align: center;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">沒登入還想去個人專區？？？</h3>
                    </div>
                                
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <img src="/about/nologin.png" style="width:100%">
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="modal-body">要馬點"確定"乖乖去登入 皮卡</div>
                                <div class="modal-body">要馬點"取消"這輩子別去個人專區，繼續留在這裡 皮卡</div>
                            </div>
                        </div>
                    </div>
                                
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="checkConfirm()">確定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                                
                </div>            

            </div>
        </div>

    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>
</body>
</html>