<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
    <% include naviCSS %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <main style="background-image: url('background.png'); background-size: cover; background-repeat: no-repeat;">
        <div class="row">
            <% include navi %>

            <div class="col-xs-9" style="margin: auto;">
                <h1><b>行銷企劃組</b></h1>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <img class="thumbnail" src="/about/企劃.jpg" alt="photo died!!!!!!" style="width:100%; margin: auto; display: block;">
                    </div>
                    <div class="col-md-4">
                        <p id="content" >企劃組決定網頁的風格，並設計網頁的格式，再將理念交付美工組與程設組，透過美化理想，付諸程式實現，共同完成，並帶給新生一個有如通往大學橋樑的知訊網。</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
</body>
</html>