<div class="col-xs-2">
    <nav id="sideNav">
        <a href="#" class="nav-toggle-btn"><i class="fa fa-chevron-circle-left fa-5x" aria-hidden="true"></i></a>

        <ul id="navi" style="height:100%; margin-top: 5%;">
            <a href="/about"><img onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" 
                            src="/about/logo.png" style="width: 90%; margin: 2%;"></a>
            <li><a href="/about/markting"><img src="/about/markting.png" alt="企劃按鈕"></a></li>
            <li><a href="/about/programming"><img src="/about/programming.png" alt="程設按鈕"></a></li>
            <li><a href="/about/ceo"><img src="/about/ceo.png" alt="執行按鈕"></a></li>
            <li><a href="/about/art"><img src="/about/art.png" alt="美工按鈕"></a></li>
            <li><a href="/about/video"><img src="/about/video.png" alt="影音按鈕"></a></li>
        </ul>
    </nav>
</div>