<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <ul id="navi" style="height:100%; margin-top: 10px;">
        <a href="/about"><img src="/about/logo.png" style="width:130px; height:75px; margin: 5px 5px 5px 12px;"></a>
        <li><a href="/about/markting" style="background-image: url('markting.png');"></a></li>
        <li><a href="/about/programming" style="background-image: url('programming.png');"></a></li>
        <li><a href="/about/ceo" style="background-image: url('ceo.png');"></a></li>
        <li><a href="/about/art" style="background-image: url('art.png');"></a></li>
        <li><a href="/about/video" style="background-image: url('video.png');"></a></li>
    </ul>

    <main style="background-image: url('background.png'); background-size: cover; background-repeat: no-repeat;">
        <div class="container" style="height:580px; margin-top: 20px; margin-left:150px;">
            <h2><b>程式設計組</b></h2>
            <hr>
            <img src="/about/IMG_8505.jpg" alt="photo died!!!!!!" style="width:40%;height:240px;">
            <p style="margin-top:10px; font-size:24px;">程設組以程式架構出知訊網，並利用程式碼，做出其他組希望達到的各種功能，是這個網頁幕後的大功臣，也希望能以程式能力，期許新生一個更好的大學生活。</p>
        </div>
    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
</body>
</html>

<style>

    #navi {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 140px;
        background-color: rgba(255, 255, 255, 0);;
        position: fixed;
        height: 300px;
        overflow: auto;
    }

    #navi li a {
        width: 144px;
        height: 50px;
        background-size: contain;
    }

    #navi a ,#content a {
        background-repeat: no-repeat; 
        background-size: contain;
        height: 36px;
    }

    #navi li a, #content li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }

    #navi li a.active {
        background-color: #4CAF50;
        color: white;
    }

    #navi li a:hover:not(.active), #content li a:hover:not(.active) {
        background-color: #555;
        color: white;
    }

</style>
