<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
        <% include naviCSS %>
    </header>

    <main style="background-image: url('background.png'); background-size: cover; background-repeat: no-repeat;">
        <div class="row">
            <% include navi %>

            <div class="col-xs-9" style="height:580px; margin: auto;">
                <h1><b>程式設計組</b></h1>
                <hr>
                <img src="/about/IMG_8505.jpg" alt="photo died!!!!!!" style="width:40%;height:240px;">
                <p id="content" >程設組以程式架構出知訊網，並利用程式碼，做出其他組希望達到的各種功能，
                    是這個網頁幕後的大功臣，也希望能以程式能力，期許新生一個更好的大學生活。</p>
            </div>
        </div>
    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
</body>
</html>