<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <main>
      <div class="container">
        <div class="jumbotron">
            <h1>This page is QQ <%= title  %></h1>
            <p>Welcome to templating using EJS</p>
            <a href="/campus/newData">新增建築物</a>
             <div class="row text-center">
                <div class="col-sm-6">
                    <a href="/campus/guide">
                        校園地圖
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="/campus/help">
                        校園防災
                    </a>
                </div>
            </div>
          </div>
        </div>
    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>
</body>
</html>
