<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
    $('select').css({
        'padding' : '0px'
    });
    $('.delete_build').click(function(){
        if(confirm("確定要刪除?")){
            var id = $(this).val();
            $.ajax({
                url:    '/campus/delete/'+ id,
                type:   'GET',
                error: function(e){
                    console.log("ERR  :"+e);
                },
                success: function(data){
                    $('#b'+ id).remove();
                }
            });
        }
    })
    $('.edit_build').click(function(){
        var id = $(this).val();
        $.ajax({
            url:    "/campus/newData/"+id,
            error: function(e){
                console.log("ERR  :"+e);
            },
            success: function(data){
                $("#bid").val(data._id);
                $("#name").val(data.name);
                $("#type").val(data.type);
                $("#SOS").val(data.SOS?1:0);
                $("#AED").val(data.AED?1:0);
                CKEDITOR.instances['content'].setData(data.content);
                $("#btn_save").val("update");
                $("#add_build_modal").modal("show");
            }

        });
    })

    $('.edit_img').click(function(){
         $("#img_body").empty();
        var id=$(this).val();
        $("#imgid").val(id);        
        $.ajax({
            url:    "/campus/get_img/"+id,
            error: function(e){
                console.log("ERR  :"+e);
            },
            success: function(data){
                console.log(data)
                for(var i in data){
                    $("#img_body").append('<div id="'+ 'img'+ data[i]._id +'">'+
                                            '<img src= "' +data[i].img_path+'"' + 'width="100%"' + '>'+'\n'+
                                            '<button class="btn delete_img btn-success" value ="'+data[i]._id +'">'+'刪除圖片'+'</button>'+
                                            '</div>' )
                }
            }
        })
        $("#img_preview_modal").modal("show");
    })
    $(document).on('click','.delete_img',function(){
        if(confirm("確定要刪除?")){
            var id = $(this).val();
            $.ajax({
                url:    '/campus/delete_img/'+ id,
                type:   'GET',
                error: function(e){
                    console.log("ERR  :"+e);
                },
                success: function(data){
                    $('#img'+ id).remove();
                }
            });
        }
    })

    $('#uploadImg').click(function(){
        var formData = new FormData($("#img_form")[0]);
        $.ajax({
            url: "/campus/imgUpload",
            type: 'POST',
            data: formData,
            datatype: 'json',
            processData: false,
            contentType: false,
            enctype: 'multipart/form-data',
            success: function(data){
                console.log(data);
                $("#img_body").append('<div id="'+ 'img'+ data._id +'">'+
                                            '<img src= "' +data.img_path+'"' + 'width="100%"' + '>'+'\n'+
                                            '<button class="btn delete_img btn-success" value ="'+data._id +'">'+'刪除圖片'+'</button>'+
                                            '</div>' )
            },
            error: function(e){
                console.log(e);
            }
        });
    })

    $(".mouse-animate").mouseenter(function(){
            $(this).animate({
                padding:'0vh'
            }, 200);
    });
    $(".mouse-animate").mouseleave(function(){
            $(this).animate({
                padding:'1vh'
            }, 200);
    });
})
</script>


<script src="/javascript/ckeditor/ckeditor.js"></script>

<script type="text/javascript">
  CKEDITOR.replace('content',{
    filebrowserUploadUrl: '/uploader',
  });
  CKEDITOR.editorConfig = function (config){
      config.enterMode = CKEDITOR.ENTER_BR;
      config.autoParagraph = false;
  };
</script>
