<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <main>
      <div class="container">
        <div class="jumbotron" style="min-height:80vw">
          <div>
              <h1 class="text-center" style="margin-bottom: 8vw">中大生活</h1>
          </div>
          <hr size="8px" align="center" width="100%">
          <div class="row container" id="food">
              <% for (var i in life){ %>
                  <% if ( life[i].type === "food"){ %>


                  <%}%>
              <%}%>
          </div>
        </div>
      </div>
    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>
</body>
</html>
