<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
<style>
.mainbtn{
  cursor:pointer;
  padding:1vw;
  max-width: 15vw;
  display:inline-block;
}
.mainbtn:hover{
  padding:0vw;
}
</style>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>
    <main style="background-image:url(Bubble.png);background-color:#E7F4F7">
      <div class="container-fluid">
        <div>
          <div class="text-center" style="font-size:3vw">中大生活</div>
          <% if(user&&user.local.accountType==='admin'){%>
            <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#add_life" style="width:100px;height:30px;text-align:center;">新增</button>
          <%}%>
          </div>
            <!-- Add/edit Modal -->
            <div class="modal fade" id="add_life" role="dialog">
              <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 style="color:red;">新增地點</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <form action="/life/add_life" enctype="multipart/form-data" method="post" accept-charset="utf-8">
                      <div class="form-group">
                        <label for="type" class="form-control">類別</label>
                        <select name="type" id="type" class="form-control">
                          <option value="food">食</option>
                          <option value="dorm">住</option>
                          <option value="traffic">行</option>
                          <option value="study">育</option>
                          <option value="entertainment">樂</option>
                          <option value="others">其他</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="nametype" class="form-control">上傳標題的方式?</label>
                        <select name="nametype" id="nametype" class="form-control">
                          <option value="text">傳文字(3個中文字左右最好!)</option>
                          <option value="pic">傳圖</option>
                        </select>
                      </div>
                      <label for="titlepic" class="input-group">
                        <p>上傳標題圖片</p>
                        <input type="text" readonly class="form-control" id="img_path0" name="img_path0">
                        <div class="input-group-btn">
                          <span class="btn btn-default">
                            <i class="fa fa-file" aria-hidden="true"></i> 圖片
                          </span>
                        </div>
                      </label>
                      <input class="form-control" id="titlepic" type="file" name="titlepic" style="display: none;" accept="image/*" onchange="
                      this.form.img_path0.value=this.value.substr(this.value.lastIndexOf('\\')+1);">
                      <label for="titletext" class="form-control">這張圖代表的景點(如果只傳文字，不用上傳圖片!)</label>
                      <input type="text" class="form-control" id="titletext" name="titletext" placeholder="男十三">
                      <label for="uploadImg1" class="input-group">
                        <p>上傳介紹圖片</p>
                        <input type="text" readonly class="form-control" id="img_path1" name="img_path1">
                        <div class="input-group-btn">
                          <span class="btn btn-default">
                            <i class="fa fa-file" aria-hidden="true"></i> 圖片
                          </span>
                        </div>
                      </label>
                      <input class="form-control" id="uploadImg1" type="file" name="uploadImg1" style="display: none;" accept="image/*" onchange="
                      this.form.img_path1.value=this.value.substr(this.value.lastIndexOf('\\')+1);">
                      <label for="uploadImg2" class="input-group">
                          <p>上傳介紹圖片</p>
                          <input type="text" readonly class="form-control" id="img_path2" name="img_path2">
                          <div class="input-group-btn">
                              <span class="btn btn-default">
                                  <i class="fa fa-file" aria-hidden="true"></i> 圖片
                              </span>
                          </div>
                      </label>
                      <input class="form-control" id="uploadImg2" type="file" name="uploadImg2" style="display: none;" accept="image/*" onchange="
                      this.form.img_path2.value=this.value.substr(this.value.lastIndexOf('\\')+1);">
                      <label for="uploadImg3" class="input-group">
                          <p>上傳介紹圖片</p>
                          <input type="text" readonly class="form-control" id="img_path3" name="img_path3">
                          <div class="input-group-btn">
                              <span class="btn btn-default">
                                  <i class="fa fa-file" aria-hidden="true"></i> 圖片
                              </span>
                          </div>
                      </label>
                      <input class="form-control" id="uploadImg3" type="file" name="uploadImg3" style="display: none;" accept="image/*" onchange="
                      this.form.img_path3.value=this.value.substr(this.value.lastIndexOf('\\')+1);">
                      <div class="form-group">
                        <label for="introduction" class="form-control">文字敘述</label>
                        <textarea name="introduction" id="introduction"></textarea></br>
                      </div>
                      <input type="hidden" id="bid" name="bid">
                      <button type="submit" name="button" class="btn btn-primary" id="btn_save">送出</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                  </div>
                </div>
            </div>
          </div>
          <div class="container">
            <div class="col-xs-2 col-xs-offset-2">
              <img style="position:relative;left:-4vw" onclick="self.location.href='/life/food'" class="mainbtn" style="" src="食.png" alt="食"/>
            </div>
            <div class="col-xs-2">
              <img onclick="self.location.href='/life/dorm'" class="mainbtn" style="" src="住.png" alt="住"/>
            </div>
            <div class ="col-xs-2">
              <img style="position:relative;left:4vw" onclick="self.location.href='/life/traffic'" class="mainbtn" style="" src="行.png" alt="行"/>
            </div>
          </div>
          <div class="container">
            <div class="col-xs-2 col-xs-offset-3">
              <img style="position:relative;left:-4vw" onclick="self.location.href='/life/study'" class="mainbtn" style="" src="育.png" alt="育"/>
            </div>
            <div class="col-xs-2">
              <img onclick="self.location.href='/life/entertainment'" class="mainbtn" style="" src="樂.png" alt="樂"/>
            </div>
            <div class="col-xs-2">
              <img style="position:relative;left:4vw" onclick="self.location.href='/life/others'" class="mainbtn" style="" src="其他.png" alt="其他"/>
            </div>
          </div>
        </div>

    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>
</body>
</html>
