<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <main class="container">
        <div>
            <h1 class="text-center">中大生活</h1>
            <h1></h1>
            <h1></h1>
            <h1></h1>
        </div>
    </main>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2"><a href="/life/food"><img style="max-width: 180px" src="life0.png" alt="食"/></a></div>
        <div class="col-md-2"><img style="max-width: 180px" src="life0.png" alt="住"/></div>
        <div class="col-md-2"><img style="max-width: 180px" src="life0.png" alt="行"/></div>
        <div class="col-md-2"><img style="max-width: 180px" src="life0.png" alt="育"/></div>
        <div class="col-md-2"><img style="max-width: 180px" src="life0.png" alt="樂"/></div>
        <div class="col-md-1"></div>
    </div>
    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
</body>
</html>
